<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (securityTest) {
      <div>
        <h2 data-cy="securityTestDetailsHeading"><span jhiTranslate="myApp.securityTest.detail.title">Security Test</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ securityTest.id }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.securityTest.testStatus">Test Status</span></dt>
          <dd>
            <span>{{ securityTest.testStatus }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.securityTest.testScore">Test Score</span></dt>
          <dd>
            <span>{{ securityTest.testScore }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.securityTest.securityLevel">Security Level</span></dt>
          <dd>
            <span jhiTranslate="{{ 'myApp.SecurityLevel.' + securityTest.securityLevel }}">{{ securityTest.securityLevel }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.securityTest.applicationUser">Application User</span></dt>
          <dd>
            @if (securityTest.applicationUser) {
              <div>
                <a [routerLink]="['/application-user', securityTest.applicationUser.id, 'view']">{{ securityTest.applicationUser.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/security-test', securityTest.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
