<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-security-test-heading" data-cy="SecurityTestCreateUpdateHeading" jhiTranslate="myApp.securityTest.home.createOrEditLabel">
        Create or edit a Security Test
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.securityTest.testStatus" for="field_testStatus">Test Status</label>
          <input
            type="text"
            class="form-control"
            name="testStatus"
            id="field_testStatus"
            data-cy="testStatus"
            formControlName="testStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.securityTest.testScore" for="field_testScore">Test Score</label>
          <input type="number" class="form-control" name="testScore" id="field_testScore" data-cy="testScore" formControlName="testScore" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.securityTest.securityLevel" for="field_securityLevel">Security Level</label>
          <select
            class="form-control"
            name="securityLevel"
            formControlName="securityLevel"
            id="field_securityLevel"
            data-cy="securityLevel"
          >
            <option [ngValue]="null">{{ 'myApp.SecurityLevel.null' | translate }}</option>
            @for (securityLevel of securityLevelValues; track $index) {
              <option [value]="securityLevel">{{ 'myApp.SecurityLevel.' + securityLevel | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myApp.securityTest.applicationUser" for="field_applicationUser">Application User</label>
          <select
            class="form-control"
            id="field_applicationUser"
            data-cy="applicationUser"
            name="applicationUser"
            formControlName="applicationUser"
            [compareWith]="compareApplicationUser"
          >
            <option [ngValue]="null"></option>
            @for (applicationUserOption of applicationUsersSharedCollection; track $index) {
              <option [ngValue]="applicationUserOption">{{ applicationUserOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
