<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (testCheckList) {
      <div>
        <h2 data-cy="testCheckListDetailsHeading"><span jhiTranslate="myApp.testCheckList.detail.title">Test Check List</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ testCheckList.id }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.testCheckList.checkList">Check List</span></dt>
          <dd>
            @if (testCheckList.checkList) {
              <div>
                <a [routerLink]="['/check-list', testCheckList.checkList.id, 'view']">{{ testCheckList.checkList.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="myApp.testCheckList.securityTest">Security Test</span></dt>
          <dd>
            @if (testCheckList.securityTest) {
              <div>
                <a [routerLink]="['/security-test', testCheckList.securityTest.id, 'view']">{{ testCheckList.securityTest.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/test-check-list', testCheckList.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
