<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (checkLisItem) {
      <div>
        <h2 data-cy="checkLisItemDetailsHeading"><span jhiTranslate="myApp.checkLisItem.detail.title">Check Lis Item</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ checkLisItem.id }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.checkLisItem.name">Name</span></dt>
          <dd>
            <span>{{ checkLisItem.name }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.checkLisItem.value">Value</span></dt>
          <dd>
            <span>{{ checkLisItem.value }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.checkLisItem.checkList">Check List</span></dt>
          <dd>
            @if (checkLisItem.checkList) {
              <div>
                <a [routerLink]="['/check-list', checkLisItem.checkList.id, 'view']">{{ checkLisItem.checkList.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/check-lis-item', checkLisItem.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
