<div>
  <h2 id="page-heading" data-cy="CheckLisItemHeading">
    <span jhiTranslate="myApp.checkLisItem.home.title">Check Lis Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myApp.checkLisItem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-check-lis-item"
        [routerLink]="['/check-lis-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myApp.checkLisItem.home.createLabel">Create a new Check Lis Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (checkLisItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="myApp.checkLisItem.home.notFound">No Check Lis Items found</span>
    </div>
  }

  @if (checkLisItems && checkLisItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="myApp.checkLisItem.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="value">
              <div class="d-flex">
                <span jhiTranslate="myApp.checkLisItem.value">Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="checkList.id">
              <div class="d-flex">
                <span jhiTranslate="myApp.checkLisItem.checkList">Check List</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (checkLisItem of checkLisItems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/check-lis-item', checkLisItem.id, 'view']">{{ checkLisItem.id }}</a>
              </td>
              <td>{{ checkLisItem.name }}</td>
              <td>{{ checkLisItem.value }}</td>
              <td>
                @if (checkLisItem.checkList) {
                  <div>
                    <a [routerLink]="['/check-list', checkLisItem.checkList.id, 'view']">{{ checkLisItem.checkList.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/check-lis-item', checkLisItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/check-lis-item', checkLisItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(checkLisItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
