@if (testCheckLisItem) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(testCheckLisItem.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="testCheckLisItemDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

      <span class="btn btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></span>
    </div>

    <div class="modal-body">
      <jhi-alert-error></jhi-alert-error>
      <p
        id="jhi-delete-testCheckLisItem-heading"
        jhiTranslate="myApp.testCheckLisItem.delete.question"
        [translateValues]="{ id: testCheckLisItem.id }"
      >
        Are you sure you want to delete Test Check Lis Item {{ testCheckLisItem.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="jhi-confirm-delete-testCheckLisItem" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
